.App {
  text-align: center;
  color: #61dafb;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.App-button {
  transition-duration: 0.4s;
  border: .2em solid #4daeb3;
  width: 10em;
  height: 2em;
  align-items: center;  
}

button {
  transition-duration: 0.4s;
  border: .2em solid #4daeb3;
  width: 10em;
  height: 2em;
  align-items: center;  
}

.App-button:hover {
  background-color: #abdaee; /* Green */
  color: white;
}

hr {
  border: none;
  border-top: 3px double #ffffff;
  color: #ffffff;
  overflow: visible;
  text-align: center;
  height: 5px;
}

.App-table {
  border-top:1px solid green;
  border-left:1px solid red; 
}

td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
}

td {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #eeeeee74;
}

th[scope='col'] {
    background-color: #696969;
    color: #fff;
}

th[scope='row'] {
    background-color: #d7d9f2;
}

caption {
    padding: 10px;
    caption-side: bottom;
}

table {
    border-collapse: collapse;
    border: 2px solid rgba(200, 200, 200, 0.805);
    letter-spacing: 1px;
    /* font-family: sans-serif; */
    font-size: 0.8rem;
}

button,
select,
input {
  margin: .5em;
}

.Table-n-rows {
  width: 4em
}

.multiselect {
  margin: 1em;
  color: rgb(0, 0, 0)
}

.TransferList {
  margin: 1em
}